@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: Poppins;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* antd-mobile color theme */
:root:root {
  --adm-color-background: var(--antdm-color-bg);
  --adm-color-text: var(--antdm-text-clr);
  --adm-color-primary: #0891b2;
}

body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* ---------- scroll bar ---------- */
::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #9aacb3; 
  border-radius: 10px;
}
/* ---------- scroll bar ---------- */

.ant-divider {
  background-color: grey;
}

code {
  margin: 0.2em;
  padding-inline: 0.3em;
  font-size: 85%;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  background: rgba(150, 150, 150, 0.1);
  border: 1px solid rgba(100, 100, 100, 0.2);
  border-radius: 3px;
}

pre {
  white-space: pre-wrap;       /* This makes the text wrap inside the <pre> tag */
  word-wrap: break-word;       /* This breaks words that are too long to fit on one line */
  width: 100%;                 /* Ensures the <pre> tag takes up the full width of its container */
  box-sizing: border-box;      /* Includes padding and border in the element's total width and height */
}

.ant-select-dropdown {
  box-shadow: var(--boxShadow);
}

.ant-menu.ant-menu-sub.ant-menu-vertical {
  box-shadow: var(--boxShadow);
}

.ant-picker-panel-container.ant-picker-date-panel-container {
  box-shadow: var(--boxShadow);
}

.ellipsis-text {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.two-line-ellipsis-text {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 2px;
}