@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: "Twemoji Country Flags", Poppins;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* antd-mobile color theme */
:root:root {
  --adm-color-background: var(--antdm-color-bg);
  --adm-color-text: var(--antdm-text-clr);
  --adm-color-primary: #0891b2;
}

body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.emoji-country-flag {
  font-family: "Twemoji Country Flags";
}

/* ---------- scroll bar ---------- */
::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #9aacb3; 
  border-radius: 10px;
}
/* ---------- scroll bar ---------- */

code {
  margin: 0.2em;
  padding-inline: 0.3em;
  font-size: 85%;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  background: rgba(150, 150, 150, 0.1);
  border: 1px solid rgba(100, 100, 100, 0.2);
  border-radius: 3px;
}

pre {
  white-space: pre-wrap;       /* This makes the text wrap inside the <pre> tag */
  word-wrap: break-word;       /* This breaks words that are too long to fit on one line */
  width: 100%;                 /* Ensures the <pre> tag takes up the full width of its container */
  box-sizing: border-box;      /* Includes padding and border in the element's total width and height */
}

.ant-select-dropdown {
  box-shadow: var(--boxShadow);
}

.ant-menu.ant-menu-sub.ant-menu-vertical {
  box-shadow: var(--boxShadow);
}

.ant-picker-panel-container.ant-picker-date-panel-container {
  box-shadow: var(--boxShadow);
}

.ellipsis-text {
  white-space: nowrap; 
  width: 80%; 
  overflow: hidden;
  text-overflow: ellipsis; 
  /* display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.two-line-ellipsis-text {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 2px;
}

/* ---*---*--- leaflet ---*---*--- */
/* zoom control */
.leaflet-control-zoom {
  border: 0px !important;
}

.leaflet-control-zoom > a > span {
  color: #0891b2;
}

.leaflet-control-zoom-in {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border: 1px solid var(--clrBorder) !important;
  background-color: var(--clrBGElevated) !important;
}

.leaflet-control-zoom-out {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border: 1px solid var(--clrBorder) !important;
  background-color: var(--clrBGElevated) !important;
}

.leaflet-control-zoom-in > span,
.leaflet-control-zoom-out > span {
  color: var(--textColor);
  font-size: 20px;
  font-weight: normal;
}

.leaflet-control-zoom-in > span:hover, 
.leaflet-control-zoom-out > span:hover {
  color: var(--clrPrimary);
}

.leaflet-control-zoom-in:hover, 
.leaflet-control-zoom-out:hover {
  border: 1px solid var(--clrPrimary) !important;
}
/* zoom control */

/* draw control */
.leaflet-draw-toolbar {
  border: 0px !important;
}

.leaflet-draw-draw-polyline {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border: 1px solid var(--clrBorder) !important;
  background-color: var(--clrBGContainer) !important;
}

.leaflet-draw-draw-polygon,
.leaflet-draw-draw-rectangle,
.leaflet-draw-draw-circle,
.leaflet-draw-draw-marker {
  border: 1px solid var(--clrBorder) !important;
  background-color: var(--clrBGElevated) !important;
}

.leaflet-draw-draw-circlemarker {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border: 1px solid var(--clrBorder) !important;
  background-color: var(--clrBGElevated) !important;
}

.leaflet-draw-draw-polyline {
  background-image: url('./assets/leaflet/polilyne-icon.webp') !important;
  background-size: 14px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.leaflet-draw-draw-polygon {
  background-image: url('./assets/leaflet/polygon-icon.webp') !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.leaflet-draw-draw-rectangle {
  background-image: url('./assets/leaflet/rectangle-icon.webp') !important;
  background-size: 18px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.leaflet-draw-draw-circle {
  background-image: url('./assets/leaflet/circle-icon.webp') !important;
  background-size: 17px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.leaflet-draw-draw-marker {
  background-image: url('./assets/leaflet/marker-icon.webp') !important;
  background-size: 15px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.leaflet-draw-draw-circlemarker {
  background-image: url('./assets/leaflet/circle-marker-icon.webp') !important;
  background-size: 12px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.leaflet-draw-draw-polyline:hover,
.leaflet-draw-draw-polygon:hover,
.leaflet-draw-draw-rectangle:hover,
.leaflet-draw-draw-circle:hover,
.leaflet-draw-draw-marker:hover,
.leaflet-draw-draw-circlemarker:hover {
  border: 1px solid var(--clrPrimary) !important;
  background-color: var(--clrPrimaryBGHov) !important;
}
/* draw control */

/* action control */
.leaflet-draw-edit-edit,
.leaflet-draw-edit-edit.leaflet-disabled {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border: 1px solid var(--clrBorder) !important;
  background-color: var(--clrBGElevated) !important;
}

.leaflet-draw-edit-remove,
.leaflet-draw-edit-remove.leaflet-disabled {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border: 1px solid var(--clrBorder) !important;
  background-color: var(--clrBGElevated) !important;
}

.leaflet-draw-edit-edit {
  background-image: url('./assets/leaflet/edit-icon.webp') !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.leaflet-draw-edit-remove {
  background-image: url('./assets/leaflet/delete-icon.webp') !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.leaflet-draw-edit-edit:hover,
.leaflet-draw-edit-remove:hover {
  cursor: pointer !important;
  border: 1px solid var(--clrPrimary) !important;
}

.leaflet-draw-edit-edit.leaflet-disabled:hover,
.leaflet-draw-edit-remove.leaflet-disabled:hover {
  cursor: not-allowed !important;
  border: 1px solid var(--clrBorder) !important;
  background-color: var(--clrBGElevated) !important;
}
/* action control */
/* ---*---*--- leaflet ---*---*--- */